# Pandas

Pandas is a package used for managing data.

Pandas main use is that it creates 2 new data types for storing data: series and dataframe.

Think of a pandas dataframe like an excel spreadsheet that is storing some data.  One column can have customer name, one column can have product sold name, another column can have price or quantity... Then the rows could be individual sales.

A dataframe is made up of several series.  Each column of a dataframe is a series.

We can name each column and row of a dataframe.

A pandas dataframe is very similar to a data.frame in R.

Similar to numpy arrays, a dataframe is a more robust data type for storing data than lists of lists. Dataframes are more flexible than numpy arrays.

A numpy array can create a matrix with all entries of the same data type.  In a dataframe each column can have its own datatype.  

That's not to say numpy arrays aren't useful.  It is often easiest to convert some subset of a dataframe to a numpy array and then use that to do some math.

Pandas also has SQL-like functions for merging, joining, and sorting dataframes.

In [1]:
import pandas as pd
import numpy as np  # numpy is not necessary for pandas, but we will use some np code in this example
# in general it's good practice to import all pacakages at the beginning

In [2]:
# first let's look at series - think of this as a single column of a spreadsheet
# each entry in a series corresponds to an individual row in the spreadsheet
# we can create a series by converting a list, or numpy array

mylist = [5.4,6.1,1.7,99.8]
myarray = np.array(mylist)

In [3]:
# a list could be a panda series
myseries1 = pd.Series(data=mylist)
print(myseries1)
print("")
# numpy array could be a panda series
myseries2 = pd.Series(data=myarray)
print(myseries2)

print("")
dict_data= {k:v for k,v in [("name","karthik"),("roll_number","126")]}
# a dict could be a panda series too.
# note the keys are automatically used as the keys here.
myseries3 = pd.Series(data=dict_data)
print(myseries3)

0     5.4
1     6.1
2     1.7
3    99.8
dtype: float64

0     5.4
1     6.1
2     1.7
3    99.8
dtype: float64

name           karthik
roll_number        126
dtype: object

In [4]:
# we access individual entries the same way as with lists and arrays
print(myseries1[2])
print("")
# or access multiple of values
# an other note, in 0:2, 2 is always exclusive.
print(myseries1[0:2])

print("")
# an other example
print(myseries1[2:])

1.7

0    5.4
1    6.1
dtype: float64

2     1.7
3    99.8
dtype: float64

In [6]:
# we can add labels to the entries of a series/
mylabels = ['first','second','third','fourth']
myseries3 = pd.Series(data=mylist,index=mylabels)
print(myseries3)
print("")

# second example, just trying out with a tuple.
list3 = [("a",1),("b",2)]
myseries4 = pd.Series(data=list3)
print(myseries4)
print("")
#myseries4?

first      5.4
second     6.1
third      1.7
fourth    99.8
dtype: float64

0    (a, 1)
1    (b, 2)
dtype: object

In [7]:
# we need not be explicit about the entries of pd.Series
# meaning no need for key word args.but we need it dont we karthik :) 
myseries4 = pd.Series(mylist,mylabels)
print(myseries4)

first      5.4
second     6.1
third      1.7
fourth    99.8
dtype: float64

In [8]:
# we can also access entries using the index labels
print(myseries4['second'])

6.1

In [9]:
# we can do math on series 
myseries5 = pd.Series([5.5,1.1,8.8,1.6],['first','third','fourth','fifth'])
print(myseries5)
print('')
print(myseries4)
print('')
print(myseries5+myseries4) 
# something to note, the rows which have the same index got added and the ones arent
# is NaN (not a number)

first     5.5
third     1.1
fourth    8.8
fifth     1.6
dtype: float64

first      5.4
second     6.1
third      1.7
fourth    99.8
dtype: float64

fifth       NaN
first      10.9
fourth    108.6
second      NaN
third       2.8
dtype: float64

In [10]:
# we can combine series to create a series (stacked on top of each other) using the concat function
df1 = pd.concat([myseries4,myseries5],axis=0,sort=False)
print(type(df1))
print(df1)

print("")

# we can combine series to create a dataframe (note below axis=1, it is needed to create multiple columns) 
# using the concat function.
df1 = pd.concat([myseries4,myseries5],axis=1,sort=False)
print(type(df1))
print(df1)

print("")

# this can not work. because TypeError: cannot concatenate object of type '<class 'list'>'; 
# only Series and DataFrame objs are valid
df1 = pd.concat([[1,2,3,4],[5,6,7,8]],axis=0,sort=False)
print(type(df1))
print(df1)

<class 'pandas.core.series.Series'>
first      5.4
second     6.1
third      1.7
fourth    99.8
first      5.5
third      1.1
fourth     8.8
fifth      1.6
dtype: float64

<class 'pandas.core.frame.DataFrame'>
           0    1
first    5.4  5.5
second   6.1  NaN
third    1.7  1.1
fourth  99.8  8.8
fifth    NaN  1.6

TypeError: cannot concatenate object of type '<class 'list'>'; only Series and DataFrame objs are valid

In [15]:
# lets give labels to rows and columns
df3 = pd.DataFrame(np.random.randn(5,5),index=['first row','second row','third row','fourth row','fifth row'],
                   columns=['first col','second col','third col','fourth col','fifth col'])
df3

            first col  second col  third col  fourth col  fifth col
first row    0.173311   -1.230522  -0.120436   -2.183435   0.824041
second row   0.799641    0.835051   0.733557   -0.549494  -0.438836
third row   -0.691858    1.397690   0.708285   -0.803609   0.425985
fourth row  -0.090261    1.285111   0.578183   -1.037641  -1.262143
fifth row   -0.453194    0.390499  -0.506790    0.347409   0.151262

In [ ]:
# we can access rows of a dataframe.
# for rows use the "loc" keyword.
print(df1.loc['fourth row'])

# this will lead to key error, becuase row of name 3 does not exsist
#print(df3[3])

print("")
# this is how to do it
print(df3.iloc[3])

print("")
# this also works
print(df3[2:])

In [ ]:
#we can access individual series in a data frame
print(df3['second col'])
print('')
df3[['third col','first col']]

In [ ]:
# we can access rows of a dataframe
df3.loc['fourth row']

In [ ]:
df3.iloc[2]

In [ ]:
df3.loc[['fourth row','first row'],['second col','third col']]

In [ ]:
# we can use logical indexing for dataframes just like for numpy arrays
df3>0

In [ ]:
# for filtering values
print(df3[df3>0])

In [ ]:
# we can add columns to a dataframe
df3['sixth col'] = np.random.randn(5,1)
df3

In [ ]:
# we can remove columns or rows from a dataframe
df4 = df3.drop('first col',axis=1)
print(df4)

# but this does not remove the column from df3, so to remove it in it, use in_place=true like below for df4
print("")
print("removed the col")
df4.drop('second col',axis=1, inplace=True)
print(df4)

# axis = 1 means removing the columns
# axis = 0 means removing the row as shown below (the default)
df4.drop('first row',axis=0,inplace=True)
print("")
print("removed the row")
print(df4)

In [ ]:
# we can remove a dataframe's index labels
df5=df3.copy()
df5.reset_index()

In [ ]:
df5.reset_index(inplace=True)
df5

In [ ]:
# we can assign new names to the index
df5['new name'] = ['This','is','the','row', 'dude']
df5

In [ ]:
# set any col as the new index
df5.reset_index(inplace=True)
df5.set_index('first col',inplace=True)
df5

# Combining data frames

The ways dataframes are combined in pandas is similar to SQL

We will examine 3 methods for combining dataframes

1. concat
2. join
3. merge

In [39]:
df7 = pd.DataFrame({"customer":['101','102','103','104'], # these are the columns
                    'category': ['cat2','cat2','cat1','cat3'],
                    'important': ['yes','no','yes','yes'],
                    'sales': [123,52,214,663]},index=[0,1,2,3]) # the row names
print(df7)

print("")
df8 = pd.DataFrame({"customer":['101','103','104','105'], # these are the columns
                    'color': ['yellow','green','green','blue'],
                    'distance': [12,9,44,21],
                    'sales': [123,214,663,331]},index=[4,5,6,7])# the row names
print(df8)

  customer category important  sales
0      101     cat2       yes    123
1      102     cat2        no     52
2      103     cat1       yes    214
3      104     cat3       yes    663

  customer   color  distance  sales
4      101  yellow        12    123
5      103   green         9    214
6      104   green        44    663
7      105    blue        21    331

In [40]:
pd.concat([df7,df8],axis=0,sort=False) # since axis =0, here df7 is just stacked on top of df8

  customer category important  sales   color  distance
0      101     cat2       yes    123     NaN       NaN
1      102     cat2        no     52     NaN       NaN
2      103     cat1       yes    214     NaN       NaN
3      104     cat3       yes    663     NaN       NaN
4      101      NaN       NaN    123  yellow      12.0
5      103      NaN       NaN    214   green       9.0
6      104      NaN       NaN    663   green      44.0
7      105      NaN       NaN    331    blue      21.0

In [41]:
pd.concat([df7,df8],axis=0,sort=True) # just sorts the columns. Also 
# since axis =0, here df7 is just stacked on top of df8

  category   color customer  distance important  sales
0     cat2     NaN      101       NaN       yes    123
1     cat2     NaN      102       NaN        no     52
2     cat1     NaN      103       NaN       yes    214
3     cat3     NaN      104       NaN       yes    663
4      NaN  yellow      101      12.0       NaN    123
5      NaN   green      103       9.0       NaN    214
6      NaN   green      104      44.0       NaN    663
7      NaN    blue      105      21.0       NaN    331

In [42]:
pd.concat([df7,df8],axis=1,sort=False) # since axis=1, the frames are augmented along the columns.

  customer category important  sales customer   color  distance  sales
0      101     cat2       yes  123.0      NaN     NaN       NaN    NaN
1      102     cat2        no   52.0      NaN     NaN       NaN    NaN
2      103     cat1       yes  214.0      NaN     NaN       NaN    NaN
3      104     cat3       yes  663.0      NaN     NaN       NaN    NaN
4      NaN      NaN       NaN    NaN      101  yellow      12.0  123.0
5      NaN      NaN       NaN    NaN      103   green       9.0  214.0
6      NaN      NaN       NaN    NaN      104   green      44.0  663.0
7      NaN      NaN       NaN    NaN      105    blue      21.0  331.0

# Merge and Join

Merge combines dataframes using a column's values to identify common entries

Join combines dataframes using the index to identify common entries

In [43]:
# merging by customer, notice now we have sales_x and sales_y
print(pd.merge(
    df7, # first data frame to merge
    df8, # second data frame to merge
    how='outer', # outer merge means just union
    on='customer') )

print("")
# merging by sale, notice now we have customer_x and customer_y
print(pd.merge(
    df7, # first data frame to merge
    df8, # second data frame to merge
    how='outer', # outer merge means just union
    on='sales') )

  customer category important  sales_x   color  distance  sales_y
0      101     cat2       yes    123.0  yellow      12.0    123.0
1      102     cat2        no     52.0     NaN       NaN      NaN
2      103     cat1       yes    214.0   green       9.0    214.0
3      104     cat3       yes    663.0   green      44.0    663.0
4      105      NaN       NaN      NaN    blue      21.0    331.0

  customer_x category important  sales customer_y   color  distance
0        101     cat2       yes    123        101  yellow      12.0
1        102     cat2        no     52        NaN     NaN       NaN
2        103     cat1       yes    214        103   green       9.0
3        104     cat3       yes    663        104   green      44.0
4        NaN      NaN       NaN    331        105    blue      21.0

In [44]:
pd.merge(df7,df8,
         how='inner', # merge by intersection for "customer". 
         on='customer')

  customer category important  sales_x   color  distance  sales_y
0      101     cat2       yes      123  yellow        12      123
1      103     cat1       yes      214   green         9      214
2      104     cat3       yes      663   green        44      663

In [45]:
print(pd.merge(df7,df8,how='left',on='customer')) # left merge is just first on, but all columns ... right is second
print("")
print(pd.merge(df7,df8,how='right',on='customer')) # right merge is just first on, but all columns ... left is second

  customer category important  sales_x   color  distance  sales_y
0      101     cat2       yes      123  yellow      12.0    123.0
1      102     cat2        no       52     NaN       NaN      NaN
2      103     cat1       yes      214   green       9.0    214.0
3      104     cat3       yes      663   green      44.0    663.0

  customer category important  sales_x   color  distance  sales_y
0      101     cat2       yes    123.0  yellow        12      123
1      103     cat1       yes    214.0   green         9      214
2      104     cat3       yes    663.0   green        44      663
3      105      NaN       NaN      NaN    blue        21      331

In [46]:
# merge by join command

df9 = pd.DataFrame({'Q1': [101,102,103],
                    'Q2': [201,202,203]},
                   index=['I0','I1','I2'])

df10 = pd.DataFrame({'Q3': [301,302,303],
                    'Q4': [401,402,403]},
                   index=['I0','I2','I3'])

print(df9)
print("")
print(df10)

     Q1   Q2
I0  101  201
I1  102  202
I2  103  203

     Q3   Q4
I0  301  401
I2  302  402
I3  303  403

In [47]:
# join behaves just like merge, 
# except instead of using the values of one of the columns 
# to combine data frames, it uses the index labels
print(df9.join(df10,how='outer')) # outer
print("")

print(df9.join(df10,how='inner')) # inner
print("")

print(df9.join(df10,how='left')) # left
print("")

print(df9.join(df10,how='right')) # right
print("")

       Q1     Q2     Q3     Q4
I0  101.0  201.0  301.0  401.0
I1  102.0  202.0    NaN    NaN
I2  103.0  203.0  302.0  402.0
I3    NaN    NaN  303.0  403.0

     Q1   Q2   Q3   Q4
I0  101  201  301  401
I2  103  203  302  402

     Q1   Q2     Q3     Q4
I0  101  201  301.0  401.0
I1  102  202    NaN    NaN
I2  103  203  302.0  402.0

       Q1     Q2   Q3   Q4
I0  101.0  201.0  301  401
I2  103.0  203.0  302  402
I3    NaN    NaN  303  403

In [48]:
# let's now go over a few more basic functialities of pandas

df8['color'].unique()

array(['yellow', 'green', 'blue'], dtype=object)

In [49]:
df8['color'].value_counts()

green     2
blue      1
yellow    1
Name: color, dtype: int64

In [ ]:
df9.mean()

In [ ]:
df8.columns

In [ ]:
df8

In [ ]:
new_df = df8[(df8['customer']!='105') & (df8['color']!='green')]
new_df

In [ ]:
print(df8['sales'].sum())
print(df8['distance'].min())

In [ ]:
def profit(s):
    return s*0.5 # 50% markup...

In [ ]:
df8['sales'].apply(profit)

In [ ]:
df8['color'].apply(len)

In [ ]:
df11 = df8[['distance','sales']]
df11.applymap(profit)

In [ ]:
def col_sum(co):
    return sum(co)
df11.apply(col_sum)

In [ ]:
df11.applymap(col_sum)

In [ ]:
del df8['color']
df8

In [ ]:
df8.index

In [ ]:
df8.sort_values(by='distance',inplace=True)
df8

In [ ]:
df8

In [ ]:
# if some series has multiple of the same value then we can group all the unique entries together
mydict = {'customer': ['Customer 1','Customer 1','Customer2','Customer2','Customer3','Customer3'], 
          'product1': [1.1,2.1,3.8,4.2,5.5,6.9],
          'product2': [8.2,9.1,11.1,5.2,44.66,983]}
df6 = pd.DataFrame(mydict,index=['Purchase 1','Purchase 2','Purchase 3','Purchase 4','Purchase 5','Purchase 6'])
df6

In [ ]:
grouped_data = df6.groupby('customer')
print(grouped_data)

In [ ]:
grouped_data.std()

In [ ]:
df8

In [ ]:
# similar to numpy arrays, we can also save and load dataframes to csv files, and also Excel files

df8.to_csv('df8.csv',index=True)

In [ ]:
new_df8 = pd.read_csv('df8.csv',index_col=0)
new_df8

In [ ]:
df8.to_excel('df8.xlsx',index=False,sheet_name='first sheet')
newer_df8 = pd.read_excel('df8.xlsx',sheet_name='first sheet',index_col=1)
newer_df8

In [18]:
df4 = pd.DataFrame(np.random.randn(5,5),index=['first row','second row','third row','fourth row','fifth row'],
                   columns=['first col','second col','third col','fourth col','fifth col'])

In [21]:
df4['first col'].average()

AttributeError: 'Series' object has no attribute 'average'

In [22]:
del df4['first col']

In [23]:
df4

            second col  third col  fourth col  fifth col
first row    -1.286883  -0.200068   -0.439409   0.514224
second row    0.894577  -0.796108   -0.115134  -1.358739
third row    -0.160090   0.168995   -0.525711  -0.340906
fourth row   -0.391007   1.511467    1.041900  -0.704729
fifth row     2.709608   0.464230    0.704361  -0.094109

In [57]:
def prod1(n):
    return 1
df4.apply(sum)

second col    1.766205
third col     1.148515
fourth col    0.666006
fifth col    -1.984259
dtype: float64